body {
  background: #f9f9f9;
}

.container{
  width: 100%;

}

.title{
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 20%;
}
.text{
  margin-bottom: 10px;
  float: left;
  margin-top: 10px;
  color: #EEEFEE;
}
.login{
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
}
.menu{
  width: 1100px;
  height: 50px;
  margin-top: 30px;
    ul {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
}
    li {

      display: inline;
      color: #E1DFDF;
      padding: 5px;

    }
}

.box1{
  width: 800px;
  height: 560px;
  border: 1px solid #000000;
  margin-top: 20px;
  background-color: green;
  .app{
    width: 750px;
    height: 30%;
    margin-top: 10px;
    border: 1px solid #000000;
    padding-top: 1opx;
    background-color: red;

}}
.photo{
  width: 70px;
  height: 70px;
  float: left;
  margin: 15px;
}
.box2{
  width: 750px;
  height: 50px;
  border: 1px solid #000000;
  font-size: 26px;
  margin-top: 10px;
  float: left;
}

.icons{
  width:750px;
  height: 30px;
  border: 1px solid #000000;

    .icon{
      width: 50px;
      height: 20px;
      border: 1px solid #000000;
      margin-left: 40px;
      float: left;


    }
}
p{
  margin-bottom: 20px;
}
